.square{
  height: 80px;
  width: 80px;
  background-color: forestgreen;
  color: white;
  margin: 5px;
  text-align:center ;
  line-height: 80px;
}

.square.three{
  background-color: darkorange;
}

.square.five{
  background-color: dodgerblue;
}

.square.threefive{
  background-color: deeppink;
}